doctype html
html(lang="en")
  head
    title= mapTitle 
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0")
    style
      include style.css
  body
    div(id="map")
    script(type='text/javascript').
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: #{zoom},
          center: {lat: #{lat}, lng: #{lng}}
      });
      map.data.loadGeoJson('#{json}');
      }
    script(src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer)
